body {
    display : flex;
    align-items: center;
    justify-content: center;
    margin : 0;
    padding : 0;
    background-color :  #24283b;
}

.top{
    position :fixed;
    top : 0px;
    color : white;
    width : 100%;
    height : 60px;
    background-color : black;
}

.menu {
    width : 100%; 
    height : 10%; 
    background-color : rgba(38, 218, 216, 1);
    position : fixed;
    bottom : 0px;
}

.items {
    display : flex;
    flex-direction : column;
    margin-top : 100px;
    margin-bottom : 400px;
}
